fastrlock
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
openai
pydantic
pydantic-settings
pydantic_core
sentence-transformers
transformers
trl
unsloth
unsloth_zoo
